@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    font-family: "Roboto Slab",serif;
    background-color: #92b2a7;
}
table{
    width:90%;
    border-collapse: collapse;
    margin-left: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.551);
    color: white;
}
td{
    border-bottom: 1px solid #dddddd; 
    border: solid black 1px;
}
th, td{
    padding: 10px;
    text-align: center;
    background-color:#6e7b8c;
    padding: 12px 15px;
}
th{
    background-color:black;
    color: white;
}
tr{
    
    text-align: left;
}
#inicio{
    border-radius: 10px 0px 0px 0px;
}
#fin{
    border-radius: 0px 10px 0px 0px;
}
label{
    background-color: transparent;
}
input:hover{
    cursor: pointer;
}
button{
    background-color: whitesmoke;
    cursor: pointer;
}
button:active{
    background-color:antiquewhite;
}
h1{
    font-size: 60px;
}
.checkbox{
    max-width: 100px;
}
.par{
    font: arial;
   background-color: #A9B0B8 ;
}