* {
    border: .0px black solid;
}
form{
    display: grid;
}
.TituloEntrada{
    width: 50%;
    float: left;
    text-align: right;
    margin-left: 1%;
    margin-bottom: 1.5%;
    margin-right: 1% ;
    
}
input{
    border: 1px black solid;
}
header{
    width: 9%0;
    text-align: center;
}
#numpagina{
    width: 8%;
}
input[type="radio"]{
    margin-bottom: 2%;
}
button{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100px;
    margin-left: 10px;
    
}
.botones{
    display: flex;
    margin-left: 60%;
}
form{
    border: 1px black solid;
}
textarea{
    border: 1px black solid;
}