@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    font-family: "Roboto Slab",serif;
    background-color: #92b2a7;
    border: .0px black solid;
}
form{
    display: grid;
}
.TituloEntrada{
    width: 50%;
    float: left;
    text-align: right;
    margin-left: 1%;
    margin-bottom: 1.5%;
    margin-right: 1% ;
    color: whitesmoke;
    
}
input, select, textarea{
    border: 1px whitesmoke solid;
    color: black;
}
header{
    width: 9%0;
    text-align: center;
    color: whitesmoke;
}
#numpagina{
    width: 8%;
}
input[type="radio"]{
    margin-bottom: 2%;
}
button{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100px;
    margin-left: 10px;
    
}
.botones{
    display: flex;
    margin-left: 60%;
}
form{
    border: 1px black solid;
    /* box-shadow: rgb(200,200, 200) 5px 10px 8px; */
}
textarea{
    border: 1px black solid;
}
header{
    /* background-image: url("winston.jpg"); */
    /* background-position: bottom; */
    background-size: cover;
    border: solid #92b2a7 1px; 
    background-color: transparent;
    background: -webkit-linear-gradient(30deg,#0f0f0f,#ddd)
}